 /* css/navigation.css */
.navigation {
    position: fixed;
    bottom: 20px; /* Отступ снизу */
    left: 20px; /* Отступ слева */
    right: 20px; /* Отступ справа */
    background: rgba(255, 255, 255, 0.6); /* Прозрачность 60% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Закругленные углы */
    padding: 10px; /* Внутренние отступы */
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
}

.navigation .list {
    position: relative;
    z-index: 1;
}

.navigation .list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.navigation .list .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation .list.active .icon {
    background: #ff0099;
    color: #fff;
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(255, 0, 153, 0.3);
}

.navigation .list .text {
    margin-top: 5px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s;
}

.navigation .list.active .text {
    opacity: 1;
}

.list.active ~ .indicator {
    left: calc(50% - 35px);
}
