 /* Стили для навигации */
.navigation {
    position: fixed;
    bottom: 20px; /* Отступ снизу */
    left: 20px; /* Отступ слева */
    right: 20px; /* Отступ справа */
    background: rgba(255, 255, 255, 0.6); /* Прозрачность 60% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Закругленные углы */
    padding: 10px; /* Внутренние отступы */
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
}

.navigation .list {
    position: relative;
    z-index: 1;
}

.navigation .list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.navigation .list .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation .list.active .icon {
    background: #ff0099;
    color: #fff;
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(255, 0, 153, 0.3);
}

.navigation .list .text {
    margin-top: 5px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s;
}

.navigation .list.active .text {
    opacity: 1;
}

/* Убедитесь, что этот селектор соответствует вашей структуре HTML */
.list.active .indicator {
    left: calc(50% - 35px);
}

/* Стили для модальных окон */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; /* Высокий z-index для отображения поверх других элементов */
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    justify-content: center; 
    align-items: center; 
    overflow: auto; /* Добавляем прокрутку, если контент выходит за пределы окна */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin: auto;
    position: relative;
}

/* Стили для карточек товаров в корзине */
#cart-items .cart-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px auto; /* Центрируем карточки и задаем вертикальные отступы */
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Уменьшаем ширину карточек */
    max-width: 400px; /* Максимальная ширина карточек */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.cart-header {
    margin-top: 0 !important; /* Уменьшите отступ сверху */
    padding-top: 0 !important; /* Уменьшите внутренний отступ сверху */
    position: relative !important; /* Используйте относительное позиционирование */
    top: -100px !important; /* Поднимите заголовок на 100 пикселей вверх */
}
