/* Стили для экранов до 1200px */
@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Стили для экранов до 768px */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sushi-card {
        max-width: 250px;
    }

    .sushi-title {
        font-size: 18px;
    }

    .sushi-details {
        font-size: 12px;
    }

    .price {
        font-size: 16px;
    }
}

/* Стили для экранов до 480px */
@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0 16px;
    }

    .sushi-card {
        max-width: 100%;
    }
}


