@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Добавлено для обеспечения видимости текста во время загрузки шрифта */
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #333333; /* Обеспечиваем достаточный контраст текста */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}