/* Стиль для шапки */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10px; /* Отступ сверху */
    left: 50%;
    transform: translateX(-50%); /* Центрирование по горизонтали */
    width: calc(100% - 40px); /* Уменьшение ширины для учета отступов */
    max-width: 1200px; /* Максимальная ширина */
    border-radius: 15px; /* Закругление углов */
    z-index: 3;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo h1 {
    margin-left: 20px;
    font-size: 24px;
    color: #333;
}

.header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin-left: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}

.header-nav a:hover {
    color: #ff0099;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 4;
}

.burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        flex-direction: column;
        width: calc(100% - 40px); /* Уменьшение ширины для учета отступов */
    }

    .header-nav ul {
        flex-direction: column;
        padding: 20px;
    }

    .header-nav li {
        margin: 10px 0;
    }

    .header-nav a {
        font-size: 16px;
        color: #333;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
    }

    .header-nav.active {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }
}


